
<div class="md:pl-[17%] lg:pl-[12%] flex flex-col md:flex-row md:mt-32 h-[80%]" style="">
  <div class="md:w-[50%] ">
    <%= image_tag("no-bg-elements/forms.png", alt: "My logo", size: '200x300', :style => "padding: 60px 20px; margin: auto;filter: invert(1);") %>

  </div>
  <div class="flex flex-col text-center md:w-[50%] px-10 md:items-center md:justify-center" style="">
      <h2 class="text-gray-100 dark:text-gray-400 text-2xl">Family owned and operated<br><span class="text-blue-500 text-3xl">Driven</span> by <span class="text-red-500 text-3xl">Heart</span></h2>
      <p class="text-slate-200 dark:text-gray-400 text-xl text-center" id="">SEGURA & Company provides the highest quality contruction services focusing on Poured-in-Place Reinforced Concrete Retaining Walls</p>
      <p class="text-gray-300 text-xl">Our expertise is unparalled</p>
  </div>
    
</div>